*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
        
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-size: cover;
    font-family: 
        "PT Serif", serif; 
    font-weight: 400;
    font-size: 11pt;
}
a{
    text-decoration: none;
    cursor: alias;
}

.ref{
    padding-top: 200px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: justify;
    text-justify: inter-word;
    color: grey;
    font-style: italic;
}
.quote{
    font-style: italic;
}
iframe {
    border: none;
    width: 100vw;
    height: 100vh;
}
sup{ font-size: 8pt;
    font-weight: 700;
    color: red;}
