*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
        
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-size: cover;
    font-family: "PT serif", "Google Sans", "Segoe UI";


}
header {min-height:200px; }
.title {text-align: center;}

h1{ 
    font-weight:700;
    font-size: 24pt;   
}
h2{ 
    font-weight:700;
    font-size: 18pt;   
}


h3{ font-weight:400;
    font-style: italic; 
    color: grey;
    font-size: 11pt;
}
p{
    text-align: justify;
    font-size: 13pt;
    font-weight: 400;
}
.text{
    font-size: 13pt;
    font-weight: 400;
    text-indent: 50px;
    text-align: justify;
}
figcaption{
    font-size: 11pt;
    text-align: center;
    text-justify: inter-word;
    color: grey;
}
.quote{
    font-family: "Google Sans",sans-serif;
    padding: 60px;
}

.gallery-item {
  display: block;
  text-align: center; 
  color: rgb(119, 119, 119);
}

.gallery {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img{
    width: 33vw;
    padding-left: 5px;
}
.grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 50px;

        }
a {
    cursor: context-menu;
    text-decoration: none;
    color: rgb(255, 0, 0);
}
img {
    width: 100vw;

}
.spacing{
    height: 60px;
}
ul{
    list-style-type: "ᓚᘏᕐᐷ ";
    padding-left: 3.3rem;
    font-size: 13pt;
    
}


.box-jef{
    justify-content: left;
}
.jef {  width: 250px;
    
        text-align: justify;
        justify-self: right;
        }
.skippy {
            font-family: "Google Sans", sans-serif;

        }
.entry{        
    border-style: inset;
    padding-inline: 30px 50px;
    padding-block: 30px;}
.grid-container-3{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 50px;
    
        }
sup{ font-size: 8pt;
    font-weight: 700;}
.iris { text-indent: 50px;
        font-weight: 700;
        font-style: italic;
        text-align: justify;
        justify-self: right;
        }
.nico-1{
    font-family:"Google Sans", sans-serif!important;

}
.paul-page {
    width: 450px;
    height: 1000px;
    
}
.paul-page2 {
    width: 100vw;
    height: 1000px;
    
}
@media (max-width: 600px) {
    p{ font-size:  11pt;}
    ul{font-size:  11pt; padding-left: 3rem;}
    .jef{  width: 30vw; }
    .grid-container-3{ grid-gap: 20px; }
    .grid-container{ 
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);;
        grid-gap: 30px; 
        p{  font-size: 0.75em;
            overflow-wrap: break-word; /* let long strings break instead of forcing width */
            word-break: break-word;};}
    .text{
        font-size: 11pt;
        text-indent: 30px;
    }
}
